<!-- TODO: goal partial -->
<h1><%= "#{@user.username}'s goals" %></h1>
  <h3>My Public Goals</h3>
<% @users_goals.each do |goal| %>
  <% next if goal.hidden == true %>
  <%= render "goal_guts", goal: goal %>
  <% if @user == current_user %>
    <%= render "buttons", goal: goal %>
  <% end %>
<% end %>
<% if @user == current_user %>
  <% if @users_goals.any? {|goal| goal.hidden == true} %>
    <h3>My Private Goals</h3>
    <% @users_goals.each do |goal| %>
      <% next if goal.hidden == false %>
      <%= render "goal_guts", goal: goal %>
      <%= render "buttons", goal: goal %>
    <% end %>
  <% end %>
  <br>
    <%= link_to "Set a New Goal", new_goal_url %>
<% end %>

<br>
<br>
