<h1><%= "#{@user.username}'s goals" %></h1>
  <h3>My Public Goals</h3>
<% @users_goals.each do |goal| %>
  <% next if goal.hidden == true %>
  <h3><%= goal.goal_title %></h3>
  <span>
    Progress:
    <br>
    <% goal.completion.times do |percentage| %>
      |
    <% end %>
  </span>
  <% if @user == current_user %>
    <%= button_to "Edit Goal", edit_goal_url(goal), method: :get %>
    <%= button_to "Delete Goal", goal_url(goal), method: :delete %>
  <% end %>
<% end %>
<% if @user == current_user %>
<% if @users_goals.any? {|goal| goal.hidden == true} %>
  <h3>My Private Goals</h3>
  <% @users_goals.each do |goal| %>
    <% next if goal.hidden == false %>
    <h3><%= goal.goal_title %></h3>
    <span <% if goal.completion == 100%> style="color:#00FF00"<% end %>>
      Progress:
      <br>
      <% goal.completion.times do |percentage| %>
        |
      <% end %>
    </span>
      <%= button_to "Edit Goal", edit_goal_url(goal), method: :get %>
      <%= button_to "Delete Goal", goal_url(goal), method: :delete %>
  <% end %>
<% end %>
<% end %>

<% if current_user == @user %>
<br>
  <%= link_to "Set a New Goal", new_goal_url %>
<% end %>
<br>
<br>
<% if logged_in? %>
  <%= button_to "Sign out", session_url, method: :delete %>
<% end %>
